.footer{
    margin: 10px auto;
    background: #212EA0;
    color: #fff;
    
}
.footer-content{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.footer-logo{
    margin-left: 60px;
}
.footer-links{
    margin-top: 20px;
}
.footer-links ul li{
    list-style: none;
    padding: 5px;
}

.footer-social ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
.footer-contact{
    margin-top: -45px;
    margin-right: 80px;
}
.footer-contact p{
    padding: 5px;
}
.footer-info{
    margin: auto;
    padding: 10px;
    border-top: 1px solid #797979;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-copyright{
    margin-left: 40%;
}